* {
  /* font-family: 'Sunflower', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, p {
  color: rgba(45, 40, 36, 1);
}

html, body {
    min-height: 100%
}

body {
  background-color: #F0EFED;
}

h1 {
  margin-bottom: 20px;
}

a {
  color: rgba(45, 40, 36, 1);
}

#name {
  color: #f64152;
}

a:hover {
  /* color: rgba(112, 103, 100, 1); */
  color: #f64152;
}

img {
  margin-bottom: 15px;
  border-style: solid;
  border-color: rgba(45, 40, 36, 1);
}

.sidebar {
  padding: 20px;
  /* background-color: #6c92ac; */
  background-color: #b6aaf9;
}

.profile {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-body {
  padding: 50px;
}

.list-group-item {
  background-color: #F0EFED;
  border-color: #F0EFED;
  border-width: 0px;
}

.desc {
  display: none;
}
